<div class="main">
  <div class="container">
    <h1 class="text-center">Flickr</h1>
  <div class="form-group">
    <input type="search" class="form-control" (keyup)="search($event)" placeholder="Kerko Imazhe...">
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 p-3" *ngFor="let image of images"> 
  <div class="container mx-auto mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <a href="{{image.url}}_b.jpg">
          <img src="{{image.url}}_m.jpg" class="card-img-top" alt="...">
          <h5 class="author">{{ sanitizeAuthorName(image.ownername) }}</h5>

        </a>
      <div class="card-body">
        <h5 class="card-title">{{ image.title }}</h5>
      </div>
    </div>
  </div>
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
  </div>
</div>
</div>